@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Kantumruy+Pro:wght@300&display=swap");
/*Border*/
/*Tipo de Fuentes*/
/*Colores de Fuentes*/
/*Font Weight*/
/*Tamaño Fuentes*/
/*Tamaño Fuentes Tablet*/
/*Tamaño Fuentes Celular*/
/*Index*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgba(255, 20, 145, 0.354);
}

.nav-link {
  font-family: "Kantumruy Pro", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 1rem;
  transition: all 1s;
}
.nav-link:hover {
  color: deeppink !important;
}

.d-flex {
  height: 3.5rem;
  width: 3.5rem;
  transition: all 2s;
}
.d-flex:hover {
  transform: rotate(360deg);
}

body main #quienes-somos {
  width: 100%;
  background-image: url(../img/img-descripcionQsomos.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body main #quienes-somos h1 {
  font-size: 50px;
  font-weight: 100;
  color: rgb(251, 65, 164);
  font-family: "Kantumruy Pro", sans-serif;
  text-align: center;
  padding-top: 4rem;
}
body main #quienes-somos p {
  font-size: 25px;
  font-family: "Gentium Book Plus", serif;
  font-weight: 500;
  color: black;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 4%;
  padding-bottom: 8%;
  margin: 0%;
}

body main #video-button {
  background-image: url(../img/imagen-videobutton.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #video-button iframe {
  margin-top: 10%;
  margin-bottom: 6%;
  height: 20rem;
  width: 50rem;
  border-radius: 8%;
}
body main #video-button button {
  width: 18rem;
  font-size: 30px;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 100;
  background-color: rgba(255, 20, 145, 0.795);
  color: white;
  margin: 2rem;
  border: 0vmin;
  height: 4rem;
  border-radius: 5%;
  cursor: pointer;
  transition: all 1s;
}
body main #video-button button:hover {
  background-color: rgba(128, 128, 128, 0.454);
  color: deeppink;
  font-weight: Bolder;
}
body main #video-button .seccion-botones {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*footer*/
.pie-pagina {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(164, 164, 164);
}
.pie-pagina .redes-socialesfooter {
  margin-right: 1%;
}
.pie-pagina a img {
  width: 2rem;
  transition: all 1s;
}
.pie-pagina a img:hover {
  background-color: deeppink;
  border-radius: 40%;
}
.pie-pagina :hover.logoWhatsaap {
  background-color: #67F05A;
}
.pie-pagina :hover.logoTwitter {
  background-color: #58c9e6;
}
.pie-pagina .modacircular p {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: Bolder;
  font-size: 18px;
  width: auto;
  margin-left: 4%;
  margin-bottom: 0%;
  width: 100%;
}

/*Inicio lista de Productos*/
#prenda_lista {
  background-image: url(../img/fondo-listaProductos.jpg);
}
#prenda_lista h1 {
  font-family: "Kantumruy Pro", sans-serif;
  padding-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 40px;
  color: rgba(255, 20, 145, 0.509);
}
#prenda_lista #lista_productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0%;
}
#prenda_lista #lista_productos .card {
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
}
#prenda_lista #lista_productos .card .card-img-top {
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#prenda_lista #lista_productos .card .producto__titulo, #prenda_lista #lista_productos .card .producto__precio {
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 25px;
  color: rgb(251, 65, 164);
}
#prenda_lista #lista_productos .card .producto__descripcion {
  font-family: "Gentium Book Plus", serif;
  font-weight: 100;
  font-size: 15px;
}
#prenda_lista #lista_productos .card .button {
  margin-top: 2%;
  background-color: rgba(255, 20, 145, 0.509);
  border-radius: 10%;
  border: transparent;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all 1s;
}
#prenda_lista #lista_productos .card .button:hover {
  font-weight: Bolder;
  background-color: rgba(128, 128, 128, 0.454);
  color: deeppink;
}

/*Inicio Carga tus Datos*/
#fondo_cargaprenda {
  background-image: url(../img/fondo-listaProductos.jpg);
  display: flex;
}
#fondo_cargaprenda .datos {
  margin-top: 2rem;
  margin-left: 4%;
  width: 100%;
}
#fondo_cargaprenda .datos .datos__personalesFormulario {
  font-size: 20px;
  width: 80%;
  border-style: none;
}
#fondo_cargaprenda .datos .datos__personalesFormulario .datos__personales {
  font-family: "Kantumruy Pro", sans-serif;
  margin-bottom: 2%;
  color: rgb(251, 65, 164);
  font-size: 30px;
  margin-top: 1%;
  font-weight: 100;
}
#fondo_cargaprenda .datos .datos__personalesFormulario .datos__personalesinput {
  background-color: rgba(255, 20, 145, 0.264);
  font-family: "Kantumruy Pro", sans-serif;
  margin-bottom: 1%;
  font-size: 20px;
  border: transparent;
}
#fondo_cargaprenda .select__prenda {
  background-color: rgba(255, 20, 145, 0.264);
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 20px;
  width: 100%;
  height: 2.5rem;
  border-color: transparent;
  color: black;
}
#fondo_cargaprenda .fotoprenda {
  margin-top: 1rem;
}
#fondo_cargaprenda .fotoprenda .form-control {
  border-color: rgba(255, 20, 145, 0.264);
}
#fondo_cargaprenda .fotoprenda .input_fotoprenda {
  color: deeppink;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 80%;
  background-color: transparent;
}
#fondo_cargaprenda .textarea__cargarprenda {
  background-color: rgba(255, 20, 145, 0.264);
  border-color: deeppink;
  width: 100%;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 15px;
  margin-top: 2rem;
}
#fondo_cargaprenda .botonEnviar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#fondo_cargaprenda .botonEnviar .button__cargarprenda {
  height: 4rem;
  width: 6rem;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(255, 20, 145, 0.509);
  border-radius: 8%;
  border: none;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all 1s;
}
#fondo_cargaprenda .botonEnviar .button__cargarprenda:hover {
  font-weight: Bolder;
  background-color: rgba(128, 128, 128, 0.454);
  color: deeppink;
}

.galeria-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.galeria-imagen #carrusel-imagenes {
  width: 100%;
}
.galeria-imagen #carrusel-imagenes .carrusel__ul {
  margin-right: 2rem;
  list-style: none;
  display: grid;
  grid-template-areas: "imagen_carrusel1 imagen_carrusel2" "imagen_carrusel3 imagen_carrusel4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}
.galeria-imagen #carrusel-imagenes .carrusel__ul .imagen_carrusel {
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  transition: all 0.3s;
}
.galeria-imagen #carrusel-imagenes .carrusel__ul .imagen_carrusel:hover {
  transform: scale(1.1);
}
.galeria-imagen #carrusel-imagenes .carrusel__ul .imagen_carrusel1 {
  grid-area: imagen_carrusel1;
}
.galeria-imagen #carrusel-imagenes .carrusel__ul .imagen_carrusel2 {
  grid-area: imagen_carrusel2;
}

/*Inicia Seccion Contacto*/
#contacto {
  background-image: url(../img/fondo-listaProductos.jpg);
}
#contacto .contacto__titulo {
  padding-top: 3rem;
  text-align: center;
  font-size: 50px;
  font-family: "Kantumruy Pro", sans-serif;
  color: rgb(251, 65, 164);
  font-weight: 500;
}
#contacto .contacto__texto {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 4%;
  margin-bottom: 4%;
  font-family: "Gentium Book Plus", serif;
  font-size: 20px;
}
#contacto .contacto__texto .palabra__circular {
  font-family: "Kantumruy Pro", sans-serif;
  color: rgb(251, 65, 164);
  font-weight: Bolder;
}
#contacto .contacto__ul {
  align-items: center;
  text-align: center;
}
#contacto .contacto__ul .contacto__lista {
  display: inline;
}
#contacto .contacto__ul .contacto__logo {
  width: 7rem;
  padding: 1%;
  transition: all 2s;
}
#contacto .contacto__ul .contacto__logo:hover {
  background-color: rgba(255, 20, 145, 0.509);
  border-radius: 40%;
}
#contacto .logoContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contacto .logoContacto .contacto__imagen {
  width: 24rem;
  margin-top: 6%;
  margin-bottom: 6%;
}

/*CSS Grids Responsive/*
/*Media queries teoria*/
@media (min-width: 1400px) {
  #lista_productos {
    padding-left: 18rem;
    padding-right: 18rem;
  }
}
@media (max-width: 991px) {
  .logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .logo {
    display: none;
  }
  body main #quienes-somos h1 {
    font-size: 3rem;
  }
  body main #quienes-somos p {
    font-size: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    text-align: center;
  }
  body main #video-button iframe {
    width: 42rem;
  }
  /*Seccion Cargar Prenda*/
  #carrusel-imagenes {
    display: none;
  }
  .formDatosPersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Seccion Contacto*/
  .contacto__texto {
    font-size: 1.2rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .contacto__logo {
    width: 5rem;
  }
  .contacto__imagen {
    width: 22rem;
  }
}
@media (max-width: 576px) {
  /*INDEX*/
  .logo {
    display: none;
  }
  body main #quienes-somos h1 {
    font-size: 2rem;
  }
  body main #quienes-somos p {
    font-size: 1rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  body main #video-button iframe {
    width: 28rem;
    margin-top: 1rem;
  }
  body main #video-button button {
    font-size: 20px;
    height: 4rem;
    width: 10rem;
    margin: 1rem;
  }
  /*Footer*/
  body footer .modacircular p {
    font-size: 1rem;
  }
  body footer .redes-socialesfooter a img {
    height: 2rem;
    width: 2rem;
  }
  /*Prenda Superior*/
  #prenda_lista h1 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  #prenda_lista #lista_productos {
    margin-top: 1rem;
    justify-content: space-evenly;
    padding-left: 12px;
  }
  #prenda_lista #lista_productos .producto__titulo, #prenda_lista #lista_productos .card .producto__precio {
    font-size: 25px;
  }
  #prenda_lista #lista_productos .producto__descripcion {
    font-size: 15px;
  }
  #prenda_lista #lista_productos .button {
    width: 8rem;
    height: 3rem;
  }
  /*Seccion Cargar Prenda*/
  .datos {
    text-align: center;
    margin-top: 2rem;
  }
  .datos .formDatosPersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .datos .formDatosPersonales .datos__personalesFormulario {
    font-size: 15px;
  }
  .datos .select__prenda {
    font-size: 15px;
  }
  .datos .textarea__cargarprenda {
    font-size: 12px;
  }
  .datos .button__cargarprenda {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  #carrusel-imagenes {
    display: none;
  }
  /*Seccion Contacto*/
  .contacto__titulo {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .contacto__texto {
    font-size: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  #contacto .contacto__ul .contacto__logo {
    width: 5rem;
  }
  .contacto__imagen {
    width: 20rem;
  }
}
@media (max-width: 390px) {
  body main #quienes-somos p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  body main #video-button iframe {
    width: 22rem;
    margin-top: 1rem;
  }
  /*Cargar Prenda*/
  #fondo_cargaprenda .select__prenda {
    color: rgb(251, 65, 164);
  }
  #fondo_cargaprenda .fotoprenda {
    color: rgb(251, 65, 164);
    font-family: "Kantumruy Pro", sans-serif;
  }
  /*Contacto*/
  #contacto .contacto__texto {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  #contacto .contacto__ul {
    padding-left: 0%;
  }
  #contacto .contacto__ul .contacto__logo {
    width: 4rem;
  }
  #contacto .logoContacto .contacto__imagen {
    width: 18rem;
  }
}/*# sourceMappingURL=estilos.css.map */