@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Kantumruy+Pro:wght@300&display=swap');
 /*Index*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

    .navbar{
        background-color:rgba(255, 20, 145, 0.354);
    }
    .nav-link{
        font-family: 'Kantumruy Pro', sans-serif;
        text-decoration: none;
        font-size: 20px;
        font-weight:500;
        color: black;
        text-align: center;
        padding: 1rem;
        transition: all 1s;
    }
        .nav-link:hover{
            color: deeppink!important;
        }

    .d-flex{
        height: 3.5rem;
        width: 3.5rem;
        transition: all 2s;
    }
        .d-flex:hover{
            transform: rotate(360deg);
        }

    body main #quienes-somos {
        width:100% ;
        background-image: url(../img/img-descripcionQsomos.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    body main #quienes-somos h1{
        font-size: 50px;
        font-weight: 100;
        color:deeppink;
        font-family:'Kantumruy Pro', sans-serif;
        text-align: center;
        padding-top:4rem;
    }

    
    body main #quienes-somos p{
        font-size: 25px;
        font-family: 'Gentium Book Plus', serif;
        font-weight:400;
        color:black;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 4%;
        padding-bottom: 8%;
        margin: 0%;
    }

    body main #video-button{
        background-image: url(../img/imagen-videobutton.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body main #video-button iframe{
        margin-top: 10%;
        margin-bottom: 6%;
        width: 50rem;
        height: 20rem;
        border-radius: 8%;
    }

    body main #video-button button{
        width: 18rem;
        font-size: 30px;
        font-family:'Kantumruy Pro', sans-serif;
        background-color:rgba(255, 20, 145, 0.795);
        color:white;
        margin: 2rem;
        border: 0vmin;
        height: 4rem;
        border-radius: 8%;
        cursor: pointer;
        transition: all 1s;
    }
    .seccion-botones{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }
    body main #video-button button:hover{
        background-color:grey;
        color:black;
        font-weight: bolder;
    }

    /*footer*/
    .pie-pagina{
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(164, 164, 164);
    }
    .redes-socialesfooter{
       margin-right: 1%;
    }
    body footer .redes-socialesfooter a img{
        width: 2rem;  
    }

    body footer .modacircular p{
        font-family: 'Kantumruy Pro', sans-serif;
        font-weight: bolder;
        font-size: 18px;
        width: auto;
        margin-left: 4%;
        margin-bottom: 0%;
        width: 100%;
    }

    body footer .redes-socialesfooter a img:hover{
        background-color: deeppink;
        border-radius: 40%;
    }

    /*Inicio lista de Productos*/
    #prenda_lista{
        background-image: url(../img/fondo-listaProductos.jpg);
    }
    #prenda_lista h1{
        font-family:'Kantumruy Pro', sans-serif;
        padding-top: 3rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 40px;
        color:  rgba(255, 20, 145, 0.509);
    }
    #lista_productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0%;
    }
    .producto{
        width: 20rem;
        height: 30rem;
        margin-top: 2%;
        list-style: none;
        text-align: center;
        margin-bottom: 2%;
    }

    .card-img-top{
        height: 24rem;
        object-fit: cover;
    }
    .producto__titulo{
        font-family:'Kantumruy Pro', sans-serif; 
        font-size: 25px;
        color: deeppink;
    }

    .producto__descripcion{
        font-family: 'Gentium Book Plus', serif;
        font-weight: 200;
        font-size: 15px;
    }

    .producto__precio{
        font-family:'Kantumruy Pro', sans-serif;
        font-size: 22px;
    }
    .card{
        text-align: center;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background-color:transparent;
    }

    .button{
        margin-top: 2%;
        background-color: rgba(255, 20, 145, 0.509);
        border-radius: 10%;
        border: none;
        font-family:'Kantumruy Pro', sans-serif;
        font-size: 20px;
        cursor: pointer;
        transition: all 1s;
    }
    .button:hover{
        font-weight: bolder;
        background-color: rgba(128, 128, 128, 0.454);
        color: deeppink;
    }

    /*Inicio Carga tus Datos*/
    #fondo_cargaprenda{
        background-image: url(../img/fondo-listaProductos.jpg);
        display: flex;
    }

    .datos{
        margin-top:2rem;
        margin-left: 4%;
        width: 100%;
    }

    .datos__personalesFormulario{
        font-size: 20px;
        width: 80%;
        border-style: none;
    }

    .datos__personales{
        font-family:'Kantumruy Pro', sans-serif;
        margin-bottom: 2%;
        color: deeppink;
        font-size: 30px;
        margin-top: 1%;
        font-weight: lighter;
    }

    .datos__personaleslabel{
        font-family:'Gentium Book Plus', serif;
    }

    .datos__personalesinput{
        background-color: rgba(255, 20, 145, 0.264);
        font-family:'Kantumruy Pro', sans-serif;
        margin-bottom: 1%;
        font-size: 20px;
        border: none;
    }

    /*Inicia Seccion Carga tu Prenda*/
    .datos__prenda {
        font-family:'Gentium Book Plus', serif;
        margin-bottom: 2px;
        font-size: 20px;
        font-weight: normal;
    }
    .select__prenda{
        background-color: rgba(255, 20, 145, 0.264);
        font-family:'Kantumruy Pro', sans-serif;
        font-size: 20px;
        width: 100%;
        height: 2.5rem;
    }
    .input_fotoprenda{
        color: deeppink;
        font-family:'Kantumruy Pro', sans-serif;
        font-size: 90%;
        margin-top: 1rem;
    }
    .textarea__cargarprenda{
        background-color: rgba(255, 20, 145, 0.264);
        border-color: deeppink;
        width: 100%;
        font-family:'Kantumruy Pro', sans-serif;
        font-size: 15px;
        margin-top: 2rem;
    }
    .botonEnviar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .button__cargarprenda{
        height: 4rem;
        width: 6rem;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(255, 20, 145, 0.509);
        border-radius: 8%;
        border: none;
        font-family:'Kantumruy Pro', sans-serif;
        font-size: 20px;
        cursor: pointer;
        transition: all 1s;
    }
    .button__cargarprenda:hover{
        font-weight: bolder;
        background-color: rgba(128, 128, 128, 0.454);
        color: deeppink;
    }
    .galeria-imagen{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imagen_carrusel{
        object-fit: cover;
        height:30rem;
    }
    #carrusel-imagenes{
        width: 100%;
    }
    .carrusel__ul{
        margin-right: 2rem;
        list-style: none;
        display: grid;
        grid-template-areas:
        "imagen_carrusel1 imagen_carrusel2"
        "imagen_carrusel3 imagen_carrusel4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px; 
    }
    .imagen_carrusel1{
        grid-area:imagen_carrusel1;
    }
    .imagen_carrusel2{
        grid-area:imagen_carrusel2;
    }

    .imagen_carrusel{
         width:15rem;
    }
    
    
    /*Inicia Seccion Contacto*/
    #contacto{
        background-image: url(../img/fondo-listaProductos.jpg);
    }
    .contacto__titulo{
        padding-top: 3rem;
        text-align: center;
        font-size: 50px;
        font-family:'Kantumruy Pro', sans-serif;
        color: deeppink;
        font-weight: 500;
    }
    .contacto__texto{
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;
        margin-top: 4%;
        margin-bottom: 4%;
        font-family:'Gentium Book Plus', serif;
        font-size: 20px;
    }
    .palabra__circular{
        font-family:'Kantumruy Pro', sans-serif;
        color: deeppink;
        font-weight: bold;
    }
    .contacto__lista{
        display: inline;
    }
    .contacto__ul{
        align-items: center;
        text-align: center;
    }
    .contacto__logo{
        width: 8%;
        padding: 1%;
        transition: all 2s;
    }
    .contacto__logo:hover{
        background-color: rgba(255, 20, 145, 0.509);
        border-radius: 40%;
    }
    .contacto__imagen{
        width: 30%;
        margin-top: 6%;
        margin-bottom: 6%;
    }
    .logoContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*CSS Grids Responsive/*
    /*Media queries teoria*/
    @media (max-width: 576px){
        /*INDEX*/
        
        .logo {
            display: none;
        }

        body main #quienes-somos h1{
            font-size: 2rem;
        }
        body main #quienes-somos p{
            font-size: 1rem;
            text-align: center;
            padding: 3rem;
        }
        body main #video-button iframe{
            width:20rem;
            margin-top:1rem;
        }
        body main #video-button button{
            font-size: 20px;
            height: 4rem;
            width: 10rem;
            margin:1rem;
        }
        /*Footer*/

        body footer .modacircular p{
            font-size: 1rem;
        }
        body footer .redes-socialesfooter a img{
        height: 2rem;
        width: 2rem;
        }
        /*Prenda Superior*/
        #prenda_lista h1{
            font-size: 2rem;
            padding-top: 2rem;
        }
        
        #lista_productos{
            margin-top: 1rem;
            justify-content: space-evenly;
            padding-left:12px;
        }

        .producto__titulo{
            font-size: 25px;
        }
        .producto__descripcion{
            font-size: 15px;
        }
        .button{
            width: 8rem;
            height: 3rem;
        }
        /*Seccion Cargar Prenda*/
        .datos{
            text-align: center;
            margin-top: 2rem;
        }
        #carrusel-imagenes{
            display: none;
        }
        .datos__personalesFormulario{
            font-size: 15px;
        }
        .formDatosPersonales{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .datos__cargaPrenda{
            margin: 0%;
            padding: 2rem;
        }
        .datos__prenda{
            font-size: 15px;
        }
        .select__prenda{
            font-size: 15px;
        }
        .textarea__cargarprenda{
            font-size: 12px;
        }
        .button__cargarprenda{
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        /*Seccion Contacto*/
        .contacto__titulo{
            font-size: 2rem;
            padding-top: 2rem;
        }
        .contacto__texto{
            font-size: 1rem;
            padding: 10px 50px 20px;
        }
        .contacto__logo{
            width: 4rem;
        }
        .contacto__imagen{
            width: 20rem;
        }
        
        

    }