$backgroundPrimario:rgba(255, 20, 145, 0.354);
$backgroundBotones:rgba(255, 20, 145, 0.795);
$backgroundBotonesCatalogo:rgba(255, 20, 145, 0.509);
$backgroundhoverBotones:rgba(128, 128, 128, 0.454);
$backgroundFooter:rgb(164, 164, 164);
$backgroundhoverImagenes:deeppink;
$backgroundForm:rgba(255, 20, 145, 0.264);

/*Border*/
$colorBorder:deeppink;
$borderTransparente:transparent;