/*Tipo de Fuentes*/
$fuentePrimaria:'Kantumruy Pro', sans-serif;
$fuenteSecundaria:'Gentium Book Plus', serif;

/*Colores de Fuentes*/
$colorfuente-primaria:rgb(251, 65, 164);
$colorfuente-secundaria:black;
$colortextoBotones:white;
$colorfuenteHover:deeppink;
$colorfuenteCatalogo:rgba(255, 20, 145, 0.509);

/*Font Weight*/
$fontweightLight:100;
$fontweightIntermedia:500;
$fontweightBolder:Bolder;

/*Tamaño Fuentes*/
$PXtitulo: 50px;
$PXtitulopages:40px;
$PXlinks:20px;
$PXtextos:25px;
$PXbutton:30px;
$PXfooter:18px;
$PXcardsDescripcion:15px;
$PXdatosTitulo:30px;
$PXinput:80%;

/*Tamaño Fuentes Tablet*/
$PXtabletTitulo:3rem;
$PXtabletDescripcion:1.5rem;
$PXtabletcontacto:1.2rem;

/*Tamaño Fuentes Celular*/
$PXphoneTitulo:2rem;
$PXphoneDescripcion:1rem;
$PXphoneTextarea:12px;